<!DOCTYPE html>
<html>
    <head lang="ru">
    <meta charset="UTF-8">
    <title> Досрок.ру </title>

    {% load staticfiles %}
    <style type="text/css">
        .spoiler_body {display:none;}
        .spoiler_links {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:visited {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:active {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:link {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:hover {text-decoration: none}
        .title {font-weight: bold;}
        .main_title {font-weight: bold; text-align: center;}
    </style>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.spoiler_links').click(function(){
                $(this).parent().children('div.spoiler_body').toggle('normal');
                if ($(this).text()=='свернуть') 
                    $(this).text('развернуть');
                else 
                    $(this).text('свернуть');
                return false;
            });
        });
    </script>

    </head>
    
    <body>
    
    <div style="margin:60px">
    
    <h3 class="main_title"> 
    КОНКУРС ЗА ПРАВО ПОПАСТЬ НА ДОСРОЧНЫЙ ЭКЗАМЕН ПО ТФКП 
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </h3>
    
    {% if is_opened %}
    <div class="well">
    <div>
    <span class="title">Текущее состояние:</span> конкурс открыт.
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </div>

    <div>
    <span class="title">Дата окончания конкурса:</span> {{ ending_date }}
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </div>
    
    </div>
    {% else %}  
    <div class="well">
    <span class="title">Текущее состояние:</span> конкурс закрыт.
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </div>
    {% endif %}
    
    <div class="well">
    <span class="title">Правила конкурса</span>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
        <p>
        ЭТО ПРАВИЛА КОНКУРСА, ДЕТКА!
        </p>
    </div>   
    </div>
    
    <div class="well">
    <span class="title">Список задач</span>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Количество зачтённых решений</th>
        <th>Рейтинг</th>
      </tr>
    </thead>
    <tbody>
        {% for problem in problem_list %}
      <tr>
        <td>{{ forloop.counter0|add:1 }}</td>
        <td>{{ problem.title }}<a href="/problemurl"> (формат)</a></td>
        <td>{{problem.student_num}}</td>
        <td>{{problem.rating}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>

    <div class="well">
    <span class="title">Список участников</span>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}

    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Группа</th>
        <th>Номера решённых задач</th>
        <th>Необходимые условия</th>
        <th>Рейтинг</th>
        <th>Итог</th>
      </tr>
    </thead>
    <tbody>
	{% for student in student_list %}
      <tr>
        <td>{{ forloop.counter0|add:1 }}</td>
		<td>{{student.firstname}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.group}}</td>
        <td>{{student.get_problem_list}}</td>
        <td>{% if student.nec_conditions %} выполнены {% else %} <span style="color: red">не выполнены</span> {% endif %}</td>
        <td>{{student.rating}}</td>
        <td>{% if student.is_allowed %} допущен {% else %} <span style="color: red">не допущен</span> {% endif %}</td>
      </tr>
	  {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>


    {% if is_opened %}
    {% else %}
    <div class="well">
    <span class="title">Итоги. Список допущенных к досрочному экзамену</span>
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
    <div class="table-responsive">
    <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>  </th>
      </tr>
    </thead>
    <tbody>
      {% for student in student_list %} <!-- here should be other student_list --> 
      <tr>
        <td> {{ forloop.counter0|add:1 }}. {{student.firstname}} {{student.lastname}}, {{student.group}} группа </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
    {% endif %}
    
    <div class="well">
    <p>
    <span class="title">Дата проведения досрочного экзамена:</span>
        {% if date %}
        {{ date }}
        {% else %}
        неизвестна
        {% endif %}
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </p>
    <p>
    <span class="title">Место проведения досрочного экзамена:</span>
        {% if place %}
            {{ place }}
        {% else %}
            неизвестно
        {% endif %}
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </p>
    </div>

    <div class="well">
    <span class="title">Экзаменационная программа</span>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
        Ссылка на программу (формат)
    </div>
    </div>
    
    <div class="well">
    <span class="title">Примеры задач досрочного экзамена</span>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
     <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Задача</th>
      </tr>
    </thead>
    <tbody>
        {% for problem in problem_list %} <!-- other list should be there! -->
      <tr>
        <td>{{ forloop.counter0|add:1 }}</td>
        <td>{{ problem.title }}<a href="/problemurl"> (формат)</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>

    </div>
    </body>
</html>
