<!DOCTYPE html>
<html>
    <head lang="ru">
    <meta charset="UTF-8">
    <title> Досрок.ру </title>

    {% load staticfiles %}
    {% load tags %}

    <style type="text/css">
        .spoiler_body {display:none;}
        .spoiler_links {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:visited {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:active {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:link {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .spoiler_links:hover {text-decoration: none}

        .student_spoiler_links {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .student_spoiler_links:visited {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .student_spoiler_links:active {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .student_spoiler_links:link {cursor:pointer; text-decoration: none; color: rgb(150, 150, 150); border-bottom: 1px dotted}
        .student_spoiler_links:hover {text-decoration: none}

        td.td_hidden {display: none;}
        th.td_hidden {display: none;}

        .title {font-weight: bold;}
        .main_title {font-weight: bold; text-align: center;}
    </style>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.spoiler_links').click(function(){
                $(this).parent().children('div.spoiler_body').toggle('normal');
                if ($(this).text()=='свернуть') 
                    $(this).text('развернуть');
                else 
                    $(this).text('свернуть');
                return false;
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.student_spoiler_links').click(function(){
                if ($(this).text()=='свернуть') {
                    $(this).text('развернуть');
                    $(".td_hidden").hide();
                }
                else {
                    $(this).text('свернуть');
                    $(".td_hidden").show();
                }
                return false;
            });
        });
    </script>

    </head>
    
    <body>
    
    <div style="margin:60px">
    
    <h3 class="main_title"> 
		КОНКУРС ЗА ПРАВО ПОПАСТЬ НА ДОСРОЧНЫЙ ЭКЗАМЕН ПО {{ subject.title }} 
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </h3>
    
    {% if is_opened %}
    <div class="well">
    <div>
    <span class="title">Текущее состояние:</span> конкурс открыт.
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </div>

    <div>
    <span class="title">Дата окончания конкурса:</span> {{ ending_date }}
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </div>
    
    </div>
    {% else %}  
    <div class="well">
    <span class="title">Текущее состояние:</span> конкурс закрыт.
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </div>
    {% endif %}
    
    <div class="well">
    <span class="title">Правила конкурса</span>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
        <p>
        ЭТО ПРАВИЛА КОНКУРСА, ДЕТКА!
        </p>
    </div>   
    </div>
    
    <div class="well">
    <span class="title">Список задач</span>
    {% if user.is_authenticated %}
        <a href="{% url 'admin:main_problem_add' %}"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button></a>
    {% endif %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Состояние задачи</th>
        <th>Дата окончания конкурса</th>
        <th>Количество зачтённых решений</th>
        <th>Рейтинг</th>
        <th>Решение задачи</th>
        <th>Комментарии и подсказки</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for problem in problem_list %}
      <tr>
        <td>{{ problem.number }}</td>
        <td>{{ problem.title }} (<a href="{{ problem.statement.url }}">{{ problem.statement.url|extension }}</a>)</td>
        <td>{{ problem.get_state_display }}</td>
        <td>{% if problem.end_date %}
        {{ problem.end_date }}
        {% else %}
        Не указана
        {% endif %}
        </td>
        <td>{{ problem.student_num }}</td>
        <td>
        {% if problem.rating %}
        {{ problem.rating }}
        {% else %}
        &infin;
        {% endif %}
        </td>
        <td>
        {% if solution %}
        Решение (<a href="{{ problem.solution.url }}">{{ problem.solution.url|extension }}</a>)
        {% endif %}
        </td>
        <td>
        {% if comment %}
        Комментарий (<a href="{{ problem.comment.url }}">{{ problem.comment.url|extension }}</a>)
        {% endif %}
        </td>
        <td>
        {% if user.is_authenticated %}
        <a href="{% url 'admin:main_problem_change' problem.id %}"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button></a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>

    <div class="well">
    <span class="title">Список участников</span>
    {% if user.is_authenticated %}
        <a href="{% url 'admin:main_student_add' %}"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button></a>
    {% endif %}

    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Группа</th>
        <th>Номера решённых задач</th>
        <th>Необходимые условия (<a href="" class="student_spoiler_links">развернуть</a>)</th>
        <th class="td_hidden">Рекомендация преподавателя</th>
        <th class="td_hidden">БРС</th>
        <th class="td_hidden">Семестровая</th>
        <th>Рейтинг</th>
        <th>Итог</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
	{% for student in student_list %}
      <tr>
        <td>{{ forloop.counter0|add:1 }}</td>
		<td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.group }}</td>
        <td>{{ student.get_problem_list }}</td>
        <td>{% if student.nec_conditions %} выполнены {% else %} <span style="color: grey">не выполнены</span> {% endif %}</td>
        <td class="td_hidden">
        {% if student.recommendation %}
            рекомендован
        {% else %}
            не рекомендован
        {% endif %}
        </td>
        <td class="td_hidden">{{ student.PRS }}</td>
        <td class="td_hidden">{{ student.test_mark }}</td>
        <td>{{ student.rating }}</td>
        <td>{% if student.is_allowed %} 
        допущен   
        {% else %} 
        <span style="color: grey">не допущен</span> 
        {% endif %}
        </td>
        <td>
        {% if user.is_authenticated %}
        <a href="{% url 'admin:main_student_change' student.id %}"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button></a>
        </td>
        {% endif %}
      </tr>
	  {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>


    {% if is_opened %}
    {% else %}
    <div class="well">
    <span class="title">Итоги. Список допущенных к досрочному экзамену</span>
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>  </th>
      </tr>
    </thead>
    <tbody>
      {% for student in allowed_student_list %} 
      <tr>
        <td> {{ forloop.counter0|add:1 }}. {{student.firstname}} {{student.lastname}}, {{student.group}} группа </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
    {% endif %}
    
    <div class="well">
    <p>
    <span class="title">Дата проведения досрочного экзамена:</span>
        {% if date %}
        {{ date }}
        {% else %}
        неизвестна
        {% endif %}
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </p>
    <p>
    <span class="title">Место проведения досрочного экзамена:</span>
        {% if place %}
            {{ place }}
        {% else %}
            неизвестно
        {% endif %}
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    </p>
    </div>

    <div class="well">
    <span class="title">Экзаменационная программа</span>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    {% endif %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
        Ссылка на программу (формат)
    </div>
    </div>
    
    <div class="well">
    <span class="title">Примеры задач досрочного экзамена</span>
    {% comment %}
    {% if user.is_authenticated %}
        <a href="{% url 'admin:main_example_add' %}"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button></a>
    {% endif %}
    {% endcomment %}
    (<a href="" class="spoiler_links">развернуть</a>)
    <div class="spoiler_body">
     <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Задача</th>
        <th>Решение</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for problem in example_list %}
      <tr>
        <td>{{ forloop.counter0|add:1 }}</td>
        <td>{{ problem.title }} (<a href="{{ problem.statement.url }}">{{ problem.statement.url|extension }}</a>)</td>
        <td>
        {% if solution %}
        Решение (<a href="{{ problem.solution.url }}">{{ problem.solution.url|extension }}</a>)
        {% endif %}
        </td>
        <td>
        {% if user.is_authenticated %}
        <a href="{% url 'admin:main_example_change' problem.id %}"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button></a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>

    </div>
    </body>
</html>
